/* 그룹 선택자 */
h1, h2, h3, h4, h5, h6, .binch {
  color: chocolate;
}

/* 인접 형제 선택자 !순서가 바뀌면 안된다. */
.red + .blue + div {
  background-color: purple;
}

/* 일반 형제 선택자 */
h2 ~ p {
  color: green;
}

/* 자식 선택자 */
.parent > li {
  color: red;
}

/* 후손 선택자 */
.ancestor > li {
  color: blue;
}

/* div setting */
div {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}